<form
  [formGroup]="postForm"
  (submit)="emitPostSubmitted()"
  novalidate>

  <input
    type="text"
    placeholder="Título"
    formControlName="title"
    class="u-full-width">

  <textarea
    placeholder="Introduce tu historia"
    class="u-full-width georgia-font"
    formControlName="intro"
    autogrow></textarea>

  <textarea
    placeholder="Cuenta tu historia"
    class="u-full-width georgia-font"
    formControlName="body"
    autogrow></textarea>

  <button
    type="submit"
    class="button-primary u-pull-right"
    [disabled]="postForm.invalid">
      Publicar
  </button>

</form>
